{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}
    <h1>Product</h1>
    <table>
        <thead>
            <tr>
                <td>name</td>
                <td>quantity</td>
                <td>ref</td>
            </tr>
        </thead>
        <tbody>
{%  for product in products %}
            <tr>
                <td>
                    {{ product.name }}
                </td>
                <td>
                    {{ product.quantity }}
                </td>
                <td>
                    {{ product.ref }}
                </td>
            </tr>
{% endfor %}
        </tbody>
    </table>
{% endblock %}
